body {
    background-color: black;
    color: white;
    font-family: "Arima", system-ui;
}
.glass-navbar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
}
.navbar-toggler {
    border-color: white !important;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none !important; /* Removes focus effect */
    outline: none !important;
}
.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
    transition: 0.3s;
}
.social-icons a:hover {
    color: #007bff;
}

/* For larger screens, show 2-3 cards */
@media (min-width: 768px) {
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        flex: 0 0 50%; /* Show 2 cards per slide */
    }
}

@media (min-width: 1024px) {
    .carousel-item {
        flex: 0 0 33.33%; /* Show 3 cards per slide */
    }
}

/* Here i am writing the code of teh footer */
.footer {
    background-color: #212529; /* Dark theme */
    color: white;
    padding: 40px 0;
}
.footer a {
    color: #f8f9fa;
    text-decoration: none;
}
.footer a:hover {
    color: #0d6efd; /* Bootstrap primary blue */
}
.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    display: inline-block;
}